@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">NewsPaper</h1>
                <p class="lead text-muted">Aqui se muestran las noticias duras xD</p>

                @*<p>
           <a href="#" class="btn btn-primary my-2">Main call to action</a>
           <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>*@
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                @foreach (var item in Model.Articles)
                {

                    <div class="col">
                        <div class="card shadow-sm">
                            <img   src="@Url.Content(item.ImageAt)" alt="" />
                            <div class="card-body">
                                <h6 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h6>
                                <p class="card-text">@Html.DisplayFor(modelItem => item.Content)</p>
                                <p class="card-text">By: @Html.DisplayFor(modelItem => item.IdAuthorNavigation.Name)</p>
                                <div class="card-footer text-muted">
                                    <p>@Html.DisplayFor(modelItem => item.PublishedAt)</p>
                                </div>
                                @*<a href={item.url}
           target="_blank"
           className="btn btn-primary ">
            Leer Mas
        </a>*@
                            </div>
                        </div>
                    </div>

                }



            </div>


        </div>
    </div>

</main>
